@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*html {}

.hide-scroll::-webkit-scrollbar {
    scrollbar-width: none;
    display: none;
}*/


/*---------------------BODY------------------------*/
body {
    font-family: 'Permanent Marker', cursive;
    background: black;
    background-image: url(/img/earthlights2.png);
    background-repeat: no-repeat;
    color: white;

}


/*---------------------NAV BAR------------------------*/
header {
    height: auto;
    padding-bottom: 5%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar {
    width: 100%;
}

.nav-bar a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 30%;
    color: aliceblue;
    font-weight: 0;
    font-size: large;
    transition: ease all 0.5s;
}

.nav-bar a:hover {
    background-color: #ffffff00;
    transform: scale(1.5);

}

.nav-bar li {
    display: inline-flex;
    justify-content: center;
    width: 16%;

}

/* ASAP !FIX THESE BELOW FOR RESPONSIVE VIEWS! ASAP*/

/*--------------------ITEM ROWS-------------------------*/

.proj-box {
    display: flex;
    align-items: center;
    transition: ease all 0.5s;
    width: 20%;
    height: 235px;

}

.proj-box img {
    width: 100%;
}

.proj-box video {
    width: 100%;
}

.proj-box:hover {
    cursor: pointer;
    transform: scale(1.6);
}

.proj-box a {
    text-decoration: none;
}

.proj-box h1 {
    color: fuchsia;
    font-size: 25px;
    font-weight: 400;
}

.proj-box-cont {
    height: 100%;
    width: 100%;

}


.item-row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-top: 5%;
    height: 100%;
}

/*---------  PROJ-BOX ----------*/
.proj-box-0 {
    display: flex;
    justify-content: space-around;
}

.proj-box-1 {
    display: flex;
    justify-content: space-around;
}

.proj-box-2 {
    display: flex;
    justify-content: space-around;
}

.proj-box-3 {
    display: flex;
    justify-content: space-around;
}

.proj-box-4 {
    display: flex;
    justify-content: space-around;
}

.proj-box-5 {
    display: flex;
    justify-content: space-around;
}

.proj-box-6 {
    display: flex;
    justify-content: space-around;
}

.proj-box-7 {
    display: flex;
    justify-content: space-around;
}

.proj-box-8 {
    display: flex;
    justify-content: space-around;
}

/*----------------------Footer-----------------------*/
/*footer {}
/*----------------------About-----------------------*/
.aboutTextContainer {
    min-height: 100vh;
}

.about-text {
    word-wrap: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 30rem;
    font-size: large;
}

/*--------------------Contact Page and Input-------------------------*/
.contactFormContainer {
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    min-height: 100vh;

}

.contactIntro {
    margin-left: auto;
    margin-right: auto;
    text-shadow: -3px -3px 0 #6b7280, 2px -2px #6b7280,
        -2px 2px #6b7280, 2px 2px #6b7280;
}

.formGroupContainer {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formLabel {
    margin-bottom: .5rem;
}

.formInput,
.formTextArea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.formInput::placeholder,
.formTextArea:focus-visible {
    color: #6b7280;
}

.formInput:focus-visible,
.formTextArea:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
}

.formTextArea {
    min-height: 120px;
}

.formSubmit {
    width: 60%;
    margin-top: 1.2rem;
    background-color: blue;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
    margin: 0 auto;
}

.h-captcha {
    margin: 0 auto;
    margin-top: 1.2rem;
    width: 50%;
}

/*---------------------Project Info------------------------*/

.proj-title {
    display: flex;
    align-items: center;
    justify-content: center;

}

.proj-info-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*---------------------Project 0------------------------*/

#coinBox {
    display: flex;
    justify-content: center;

}

#revealCoin {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}